@import './carousel.scss';
body {
  margin: 0;
  padding: 0;
  background-color: #9cacc4;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page {
  display: flex;
  // align-items: center;

  &-image-container picture {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  &-image-container img {
    max-width: 45%;
    min-width: 600px;
    @media (max-width: 651px) {
      min-width: 100px;
    }
  }
}

.about {
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.mission-social {
  &-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-self: center;
    @media (max-width: 390px) {
      max-width: 500px;
    }
  }
  &-text {
    // max-width: 600px;
    margin-bottom: 50px;
    align-self: center;
    font-size: 25px;
    @media (max-width: 390px) {
      font-size: 20px;
      width: 350px;
    }
  }

  &-call-out-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 390px) {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-title {
    align-self: center;
    font-weight: bold;
    color: #2c3458;
    @media (max-width: 390px) {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-call-out {
    font-size: 30px;
    font-weight: bold;
    color: #2c3458;
    @media (max-width: 390px) {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-icon-container {
    margin-top: 20px;
    display: flex;

    justify-content: space-around;

    & img {
      width: 150px;
      height: 150px;
      transition: transform 0.2s ease; /* Smooth transition for scaling effect */
      // margin-right: 35px;
      &:hover {
        /* Styles applied on hover */
        transform: scale(1.2); /* Example: scale up the icon */
        cursor: pointer; /* Change cursor to a pointer on hover */
      }
      &:active {
        /* Styles applied on click */
        transform: scale(1.1); /* Slightly smaller scale on click */
        /* Add other active state styles, e.g., color change */
      }

      & p {
        align-self: center;
        font-weight: bold;
      }
      & img {
        width: 225px;
      }
    }
  }
}

.navigation {
  border-bottom: 2px black solid;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navbar-brand {
  // justify-content: flex-start;
  left: 10px;
}

.navbar-nav {
  margin-top: 50px;
}
.nav-link {
  font-weight: bold;
  font-size: 25px;
  color: #08356e;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: end;
  height: 80px;
  background-color: #212529;
  margin-top: auto;
  &-copyright {
    color: white;
    align-self: center;
  }
}

.embla img {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide img {
  flex: 0 0 100%;
  min-width: 0;
}

.embla {
  // max-width: 100%;
  // margin: auto;
  // --slide-height: 800px;
  --slide-spacing: 1rem;
  --slide-size: 70%;
}
.embla__viewport {
  // overflow: hidden;
  // width: 100%;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  margin-bottom: 50px;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
}
