$n: 28; /* number of images*/
$num-images: 28; // Replace with the actual number of images
$animation-duration: 250s; // Adjust as needed

// @keyframes scroll-images {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     // Translate the images by the total width of the container
//     transform: translateX(-100%);
//   }
// }

.gallery {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 50px;
  margin-bottom: 50px;
}
.image-scrolling-slide {
  //   grid-area: 1/1;

  display: flex;

  width: ($num-images * 100%);
  animation: scroll-images $animation-duration linear infinite;
}

.image-scrolling-slide img {
  width: 10%;
  height: 10%;
}

// @for $i from 2 to ($n + 1) {
//   .gallery > img:nth-child(#{$i}) {
//     animation-delay: calc(#{(1 - $i) / $n}* var(--d));
//   }
// }
// @keyframes r {
//   #{100*($n - 1)/$n}% {
//     transform: translate((1 - $n) * 100%);
//   }
//   #{100*($n - 1)/$n + .01}% {
//     transform: translate(100%);
//   }
// }
